@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Comfortaa-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/Comfortaa-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/Comfortaa-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/Comfortaa-SemiBold.ttf") format("opentype");
}

body {
  font-family: "Comfortaa", Verdana, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #283c54;
  background-color: #FFE0CB;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

.profile {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
}

.profile h2 {
  justify-self: center;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #163152;
}

.profile__form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}

.profile__form label {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.input {
  width: 100%;
  min-height: 40px;
  padding: 5px;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
}

textarea.input::placeholder {
  font-size: 14px;
  opacity: 0.4;
  padding-left: 4px;
  padding-top: 10px;
}

input.input::placeholder {
  font-size: 14px;
  opacity: 0.4;
  padding-left: 4px;
}

.photo {
  grid-area: 1/1/7/2;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fe7f18;
  border-radius: 20px;  
}

.name {
  grid-area: 1/2/2/6;  
}

.breed {
  grid-area: 2/2/3/4;
}

.place {
  grid-area: 2/4/3/6;
}

.about {
  grid-area: 3/2/4/6;  
}

.food {
  grid-area: 4/2/5/6;
}

.checkbox-1, .checkbox-2, .checkbox-3, .checkbox-4 {
  display: flex;
  flex-direction: row;
}

.checkbox-1 {
  grid-area: 5/2/6/3;
}

.checkbox-2 {
  grid-area: 5/3/6/4; 
}

.checkbox-3 {
  grid-area: 5/4/6/5;
}

.checkbox-4 {
  grid-area: 5/5/6/6; 
}

.checkbox-label::before {
  content: "";
  width: 19px;
  height: 19px;
  margin: 1px 10px 1px 1px;
  outline: 1px solid rgba(22, 49, 82, 0.15);
  box-sizing: border-box;
}

input[type="checkbox"]:checked + .checkbox-label::before {
  background-color: #fe7f18;
  border: 3px solid #ffffff;
}


.submit {
  grid-area: 6/3/7/4;
  margin-top: 30px;
}

.submit__btn {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #fe7f18;
  color: #283c54;
}

.submit__btn:hover {
  background-color: #fcb43b;
}